/* Overall CSS layout for the whole document. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Century Gothic', monospace;
}

/**** Navigation styles ****/
nav {
	font-size: 30px;
	text-align: right;
	word-spacing: 15px;

}

nav a {
	color: gray;
	text-decoration: none;
	font-size: 40px;
}

nav a.active {
	color: green;
	text-decoration: underline;
}

nav a:hover {
	text-decoration: underline;
	color: teal
}

/**** Styles for Body ****/
Body {
	background-color: white;
	font-family: cambria;
	color: gray;
}

/**** Header & Paragraph styles ****/
H1 {
	font-size: 50pt;
	text-align: right
}

H2 {
	font-size: 30px;
	text-align: right;
	word-spacing: 15px;
}

H3 {
	font-size: 10pt;
	text-align: center
}

H4 {
	text-align: center;
	margin-top: 5rem;
	font-size: 15px;
}

H5 {
	font-size: 15pt;
}

P {
	font-size: 10pt;
	font-family: monospace;
}

.h2 {
	color: cornflowerblue;
	text-decoration: underline;
}

.h5 {
	color: midnightblue;
}

p {
	color: black;
	font-size: 25px;
	margin: 2rem;
}

.fav>p {
	color: cornflowerblue;
}

.reservation {
	text-align: center;
	margin: 1rem;
}

.about-h5 {
	color: brown;
	text-decoration: underline;
	margin: 3rem;
	font-size: 30px;
}

.review {
	color: cornflowerblue;
	text-decoration: underline;
	text-align: center;
	margin: 5rem;
}

.home {
	font-size: 40px;
	text-align: center;
	margin-top: 2rem;
}

.about {
	font-size: 60px;
	text-align: center;
	margin: 3rem;
	text-decoration: underline;
	color: coral;
}

/**** Table Styles ****/
Table {
	width: 90%;
	height: 20%;
	font-family: monospace;
	color: white;
	background-color: green;
	margin: 3rem;
	border-color: darkgreen;
	font-size: 60px;
	border-spacing: 5;
}

/**** Form Styles ****/
Form {
	font-family: monospace;
	text-align: center;
	color: white;
	background-color: green;
	font-size: 40px;
	padding: 1rem;
	margin: 2rem;
}

.form {
	padding: 1rem;
	margin: 1rem;
}

input::placeholder {
	font-size: 25px;
}

input.form {
	padding: 20px;
	width: 30%;
}

td {
	text-align: center;
}

/**** Style for Hero Image. ****/
.hero-image {
	background: url("./logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	position: relative;
	margin: 2rem;

}

/**** Button Styles ****/
.button {
	padding: 1rem;
	font-size: 35px;
	background-color: white;
	color: black;
	border: none;
	border-radius: 20px;
}

.button:hover {
	background-color: blue;
	color: white;
}

/**** Hero Image style for Vegetables on About.html ****/
.about2 {
	background: url("./vegTable.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 2rem;
}

/**** Contact & Social Styles ****/
.contact {
	text-decoration: none;
}

.contact:hover {
	color: cornflowerblue;
}

.contact-us {
	text-decoration: underline;
}

.social {
	color: crimson;
}

/**** Media Query for device width greater or equal to 768px ****/
@media only screen and (min-device-width: 768px) {
	nav a {
		font-size: 30px;
	}

	.home {
		font-size: 30px;
	}

	Form {
		font-size: 30px;
		margin-left: 6rem;
		margin-right: 6rem;
	}

	input.form {
		padding: 10px;
	}

	.button {
		font-size: 20px;
	}

	.about {
		font-size: 40px;
	}

	.about2 {
		margin-left: 4rem;
		margin-right: 4rem;
	}

	.hero-image {
		margin-left: 4rem;
		margin-right: 4rem;
	}

	Table {
		font-size: 30px;
		width: 80%;
		margin: 4rem;
		position: relative;
		left: 4%;

	}
}

/**** Media Query for device width greater or equal to 1200px ****/
@media only screen and (min-device-width: 1200px) {
	.hero-image {
		margin: 0;
		/* width: 1500px; */
		margin-top: 2rem;
		margin-bottom: 4rem;
	}

	nav a {
		font-size: 25px;
	}

	Form {
		font-size: 30px;
		margin-left: 10rem;
		margin-right: 10rem;
	}

	H4 {
		font-size: 30px;
	}

	.review {
		font-size: 30px;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
	}

	.grid-1 {
		grid-row: 1/2;
		grid-column: 1/2;
	}

	.grid-2 {
		grid-row: 1/2;
		grid-column: 2/4;
	}

	.about2 {
		width: 80%;
		position: relative;
		left: 10%;
	}

	.about-h5 {
		text-align: center;
	}

	.location {
		font-size: 40px;
	}

	.hours {
		font-size: 30px;
	}

	.flex {
		display: flex;
		justify-content: center;
		column-gap: 10rem;
	}

	.email,
	.us {
		text-align: center;
	}

	.social {
		text-align: center;
	}
}